In [1]:
import requests
import zipfile
import pandas as pd
import datetime

## 1. Data URLs

In [2]:
url=["https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-10.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-09.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-08.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-07.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-06.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-05.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-04.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-03.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-02.zip",
"https://data.binance.vision/data/spot/monthly/klines/XRPUSDT/1d/XRPUSDT-1d-2023-01.zip"]

In [3]:
url_november=url[0]
response = requests.get(url_november)
# Check if the request was successful
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-10.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-10.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_november = pd.read_csv('data/XRPUSDT-1d-2023-10.csv', header=None)  # Replace 'file.csv' with the name of the file you want to

### 1.1 September data

In [4]:
url_september=url[1]
response = requests.get(url_september)
# Check if the request was successful
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-09.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-09.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_september = pd.read_csv('data/XRPUSDT-1d-2023-09.csv', header=None)  # Replace 'file.csv' with the name of the file you want to

### 1.2 August data

In [5]:
url_august = url[2] # Replace with the URL of the ZIP file
response = requests.get(url_august)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-08.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-08.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_august = pd.read_csv('data/XRPUSDT-1d-2023-08.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.3 July data

In [6]:
url_july = url[3] # Replace with the URL of the ZIP file
response = requests.get(url_july)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-07.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-07.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_july = pd.read_csv('data/XRPUSDT-1d-2023-07.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.4 June data

In [7]:
url_june = url[4] # Replace with the URL of the ZIP file
response = requests.get(url_june)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-06.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-06.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_june= pd.read_csv('data/XRPUSDT-1d-2023-06.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.5 Mai data

In [8]:
url_mai = url[5] # Replace with the URL of the ZIP file
response = requests.get(url_mai)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-05.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-05.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_mai= pd.read_csv('data/XRPUSDT-1d-2023-05.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.6 April data

In [9]:
url_april = url[6] # Replace with the URL of the ZIP file
response = requests.get(url_april)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-04.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-04.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_april = pd.read_csv('data/XRPUSDT-1d-2023-04.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.7 March data

In [10]:
url_march = url[7] # Replace with the URL of the ZIP file
response = requests.get(url_march)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-03.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-03.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_march = pd.read_csv('data/XRPUSDT-1d-2023-03.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.8 February data

In [11]:
url_february = url[8] # Replace with the URL of the ZIP file
response = requests.get(url_february)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-02.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-02.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_february= pd.read_csv('data/XRPUSDT-1d-2023-02.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.9 January data

In [12]:
url_january = url[9] # Replace with the URL of the ZIP file
response = requests.get(url_january)
if response.status_code == 200:
    with open('XRPUSDT-1d-2023-01.zip', 'wb') as file:
        file.write(response.content)
else:
    print(f'Failed to retrieve file: {response.status_code}')

with zipfile.ZipFile('XRPUSDT-1d-2023-01.zip', 'r') as zip_ref:
    zip_ref.extractall('data')  # This will create a folder named 'data' and extract all files into it
data_january= pd.read_csv('data/XRPUSDT-1d-2023-01.csv', header=None)  # Replace 'file.csv' with the name of the file you want to load

### 1.10 Complete data January-November

In [13]:
column_names=["Open_time","Open","High","Low","Close","Volume","Close_time","Quote_asset_volume","Number_of_trades","Taker_buy_base_asset_vol","Taker_buy_quote_asset_vol","Ignore"]

In [14]:
full_data = pd.concat([data_january,data_february,data_march,data_april,data_mai,data_june,data_july,data_august,data_september, data_november])  # Concatenate by row
full_data.columns = column_names
full_data.head()

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_vol,Taker_buy_quote_asset_vol,Ignore
0,1672531200000,0.3389,0.3400,0.3354,0.3387,102026821.0,1672617599999,3.447164e+07,48661,53592277.0,1.810790e+07,0
1,1672617600000,0.3386,0.3555,0.3000,0.3482,647520487.0,1672703999999,2.178040e+08,285660,320823575.0,1.080569e+08,0
2,1672704000000,0.3482,0.3520,0.3395,0.3436,346410334.0,1672790399999,1.195113e+08,154113,172318472.0,5.944846e+07,0
3,1672790400000,0.3436,0.3605,0.3390,0.3472,372672796.0,1672876799999,1.295853e+08,147677,193027855.0,6.713928e+07,0
4,1672876800000,0.3471,0.3487,0.3333,0.3380,265529668.0,1672963199999,9.073585e+07,106910,129294274.0,4.418781e+07,0

## 2. Cleaning of data

In [15]:
full_data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 304 entries, 0 to 30
Data columns (total 12 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Open_time                  304 non-null    int64
 1   Open                       304 non-null    float64
 2   High                       304 non-null    float64
 3   Low                        304 non-null    float64
 4   Close                      304 non-null    float64
 5   Volume                     304 non-null    float64
 6   Close_time                 304 non-null    int64
 7   Quote_asset_volume         304 non-null    float64
 8   Number_of_trades           304 non-null    int64
 9   Taker_buy_base_asset_vol   304 non-null    float64
 10  Taker_buy_quote_asset_vol  304 non-null    float64
 11  Ignore                     304 non-null    int64
dtypes: float64(8), int64(4)
memory usage: 30.9 KB

In [16]:
full_data.duplicated().sum()

0

In [17]:
full_data.isna().sum()

Open_time                    0
Open                         0
High                         0
Low                          0
Close                        0
Volume                       0
Close_time                   0
Quote_asset_volume           0
Number_of_trades             0
Taker_buy_base_asset_vol     0
Taker_buy_quote_asset_vol    0
Ignore                       0
dtype: int64

In [18]:
# Function to convert timestamp to datetime
def convert_timestamp(timestamp_ms):
    timestamp_s = timestamp_ms / 1000
    date = datetime.datetime.fromtimestamp(timestamp_s)
    return date

# Apply the function to your timestamp column
full_data['Open_time'] = full_data['Open_time'].apply(convert_timestamp)
full_data['Close_time'] = full_data['Close_time'].apply(convert_timestamp)
full_data

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_vol,Taker_buy_quote_asset_vol,Ignore
0,2023-01-01 01:00:00,0.3389,0.3400,0.3354,0.3387,102026821.0,2023-01-02 00:59:59.999,3.447164e+07,48661,53592277.0,1.810790e+07,0
1,2023-01-02 01:00:00,0.3386,0.3555,0.3000,0.3482,647520487.0,2023-01-03 00:59:59.999,2.178040e+08,285660,320823575.0,1.080569e+08,0
2,2023-01-03 01:00:00,0.3482,0.3520,0.3395,0.3436,346410334.0,2023-01-04 00:59:59.999,1.195113e+08,154113,172318472.0,5.944846e+07,0
3,2023-01-04 01:00:00,0.3436,0.3605,0.3390,0.3472,372672796.0,2023-01-05 00:59:59.999,1.295853e+08,147677,193027855.0,6.713928e+07,0
4,2023-01-05 01:00:00,0.3471,0.3487,0.3333,0.3380,265529668.0,2023-01-06 00:59:59.999,9.073585e+07,106910,129294274.0,4.418781e+07,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26,2023-10-27 02:00:00,0.5534,0.5588,0.5325,0.5430,312543838.0,2023-10-28 01:59:59.999,1.714910e+08,179059,155341688.0,8.522251e+07,0
27,2023-10-28 02:00:00,0.5430,0.5506,0.5405,0.5446,110912293.0,2023-10-29 01:59:59.999,6.049179e+07,75484,53184502.0,2.901031e+07,0
28,2023-10-29 02:00:00,0.5446,0.5614,0.5405,0.5561,160069611.0,2023-10-30 00:59:59.999,8.855436e+07,111204,73781934.0,4.080782e+07,0
29,2023-10-30 01:00:00,0.5560,0.5843,0.5494,0.5780,436757242.0,2023-10-31 00:59:59.999,2.482325e+08,249097,220367736.0,1.251827e+08,0
30,2023-10-31 01:00:00,0.5780,0.6213,0.5627,0.5996,621793128.0,2023-11-01 00:59:59.999,3.686606e+08,405292,310096261.0,1.838091e+08,0

In [19]:
full_data["Quote_asset_volume"] = full_data["Quote_asset_volume"] .apply(lambda x: '{:.2f}'.format(x))
full_data["Taker_buy_quote_asset_vol"] = full_data["Taker_buy_quote_asset_vol"] .apply(lambda x: '{:.2f}'.format(x))
full_data

,Open_time,Open,High,Low,Close,Volume,Close_time,Quote_asset_volume,Number_of_trades,Taker_buy_base_asset_vol,Taker_buy_quote_asset_vol,Ignore
0,2023-01-01 01:00:00,0.3389,0.3400,0.3354,0.3387,102026821.0,2023-01-02 00:59:59.999,34471638.57,48661,53592277.0,18107900.65,0
1,2023-01-02 01:00:00,0.3386,0.3555,0.3000,0.3482,647520487.0,2023-01-03 00:59:59.999,217803999.74,285660,320823575.0,108056946.62,0
2,2023-01-03 01:00:00,0.3482,0.3520,0.3395,0.3436,346410334.0,2023-01-04 00:59:59.999,119511328.67,154113,172318472.0,59448460.90,0
3,2023-01-04 01:00:00,0.3436,0.3605,0.3390,0.3472,372672796.0,2023-01-05 00:59:59.999,129585304.73,147677,193027855.0,67139279.10,0
4,2023-01-05 01:00:00,0.3471,0.3487,0.3333,0.3380,265529668.0,2023-01-06 00:59:59.999,90735849.14,106910,129294274.0,44187813.67,0
...,...,...,...,...,...,...,...,...,...,...,...,...
26,2023-10-27 02:00:00,0.5534,0.5588,0.5325,0.5430,312543838.0,2023-10-28 01:59:59.999,171491048.37,179059,155341688.0,85222513.69,0
27,2023-10-28 02:00:00,0.5430,0.5506,0.5405,0.5446,110912293.0,2023-10-29 01:59:59.999,60491790.56,75484,53184502.0,29010312.42,0
28,2023-10-29 02:00:00,0.5446,0.5614,0.5405,0.5561,160069611.0,2023-10-30 00:59:59.999,88554355.81,111204,73781934.0,40807822.95,0
29,2023-10-30 01:00:00,0.5560,0.5843,0.5494,0.5780,436757242.0,2023-10-31 00:59:59.999,248232480.43,249097,220367736.0,125182701.79,0
30,2023-10-31 01:00:00,0.5780,0.6213,0.5627,0.5996,621793128.0,2023-11-01 00:59:59.999,368660558.78,405292,310096261.0,183809081.58,0